// .clients {
//     padding-top: 94px;
//     padding-bottom: 94px;
//     background-color: var(--first-background-color);
//   }
  
//   .clients__list {
//     display: flex;
//   }
  
//   .clients__list-link {
//     transition: border-color 250ms var(--timing-function);
  
//     display: flex;
//     align-items: center;
//     justify-content: center;
  
//     border: 1px solid var(--first-icon-color);
//     border-radius: 4px;
    
//     width: 170px;
//     height: 92px;

//     &:hover ,
//     &:focus  {
//       border-color: var(--accent-color);
//     }
    
//   }
//   .clients__list .clients__list-item:not(:last-child){
//     margin-right: 30px;
//   }
  
//   .clients__list-icon {
//     transition: fill 250ms var(--timing-function);
  
//     fill: var(--first-icon-color);

//     .clients__list-link:hover &,
//     .clients__list-link:focus & {
//       fill: var(--accent-color);
//     }
//   }
  
.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-background-color);
  }

  
.clients__list {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:767px){
.clients__list-item {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(2n-1) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 30px;
    }
  }
}
  
.clients__list-link {
    transition: border-color 250ms var(--timing-function);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--first-icon-color);
    border-radius: 4px;
    height: 92px;
    max-width: 100%;
    

    &:hover ,
    &:focus  {
      border-color: var(--accent-color);
    }

.clients__list-icon {
    transition: fill 250ms var(--timing-function);

    fill: var(--first-icon-color);

    .clients__list-link:hover &,
    .clients__list-link:focus & {
      fill: var(--accent-color);
    }
  }
}
