.hero {
    background-image: linear-gradient(
      var(--overlay-color),
      var(--overlay-color)),
    url(../images/hero-image.jpg);
    background-size: cover;
  
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--second-background-color);
    text-align: center;
  }
  .hero__title {
    margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-page-color);
  }
  .hero__action-btn {
    padding: 10px 32px;
  }