:root {
    --first-header-color: #2196f3;
    --second-header-color: #000000;
    --third-header-color: #757575;
    --accent-color: #2196f3;
    --second-accent-color: #ffffff;
    --first-page-color: #212121;
    --second-page-color: #ffffff;
    --third-page-color: #757575;
    --fourth-page-color: #2196f3;
    --first-background-color: #ffffff;
    --second-background-color: #2f303a;
    --third-background-color: #e5e5e5;
    --fourth-background-color: #f5f4fa;
    --first-footer-color: #ffffff;
    --second-footer-color: #2196f3;
    --third-footer-color: rgba(255, 255, 255, 0.6);
    --btn-shadow-color: rgba(0, 0, 0, 0.15);
    --first-line-color: #ECECEC;
    --second-line-color: #EEEEEE;
    --first-shadow-color: rgba(0, 0, 0, 0.12);
    --second-shadow-color: rgba(0, 0, 0, 0.14);
    --third-shadow-color: rgba(0, 0, 0, 0.2);
    --fourth-shadow-color: rgba(0, 0, 0, 0.06);
    --fifth-shadow-color: rgba(0, 0, 0, 0.16);
    --sixth-shadow-color: rgba(0, 0, 0, 0.1);
    --seventh-shadow-color: rgba(0, 0, 0, 0.08);
    --first-icon-color: #AFB1B8;
    --second-icon-color: #000000;
    --first-link-background-color: rgba(255, 255, 255, 0.1);
    --overlay-color: rgba(47, 48, 58, 0.4);
    --second-overlay-color: rgba(0, 0, 0, 0.2);
    --third-overlay-color: rgba(47, 48, 58, 0.8);
    --fifth-overlay-color: rgba(33, 150, 243, 0.9);
    --design-color: rgba(0, 0, 0, 0.1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --first-border-color: rgba(33, 33, 33, 0.2);
    --second-border-color:rgba(255, 255, 255, 0.3);
    --third-border-color:#ffffff;
    --first-placeholder-color:rgba(117, 117, 117, 0.5)
  }